html 
{
    scroll-behavior: smooth;
}
body 
{
    margin:0;
}
section 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center
} 
section:nth-child(odd) 
{
    background: #ccc;
} 
section:before 
{
    content: attr(data-text);
    color: #262626;
    font-size: 8em;
}
#top-nav 
{
    width: 100%;
    background: #2a363b;
    height: 50px;
    margin: 0;
    padding:0;
    position:fixed;
    top:0;
    letter-spacing: 0;
    display: flex;
    justify-content: space-around;
    z-index: 9999;
}
ul li
{
    list-style: none;
}
ul li a
{
    color:#fff;
    line-height: 50px;
    box-sizing: border-box;
}

.nav-link:hover {
    color: #ffffff;
	height: 75%;
	top: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}



/* expanding cards ************************************************************* */
#expandingCards{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.expand{
    display: flex;
    width: 70vw;
}

.panel{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    border-radius: 80px;
    color: white;
    cursor: pointer;
    flex: .5;
    margin: 5px;
    position: relative;
    -webkit-transition: flex 0.7s ease-in; /*trying to get card animation to work on safari...*/
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    max-width: 100%;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity .5s ease-in .4s;
}

/* expanding cards ************************************************************* */

/******************** Summary related stuff ************************/
#summary {
    background-image: url(CurveLineGreen.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
}
section .box {
    height: 400px;
    width: 1200px;
    box-shadow: 0px 0px 40px black;
}

#summary .box{
    display: flex;
    flex-direction: row;
}
.box .tabs{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0px;
}
.box .tabs a{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.tab-link{
    text-decoration: none;
}
.tab-link:hover span{
    transform: translateX(8px);
}
.tab-link:hover{ color: #fecea8; }
.tab-link.active {
    color: #fecea8;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 2;
    box-shadow: 0 1px 5px #2A363b;
}
.tab-link.active span {
    transform: translateX(20px);
}

.tab-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    z-index: 3;
    padding: 50px;
    flex-direction: column;
    color: white;
}

#den-link, #dtab { background-color:  #99b898; }
#jigom-link, #jtab { background-color: #789777; }
#kth-link, #ktab { background-color: #638361; }
#root-link, #rtab { background-color: rgb(87, 117, 86); }
#tiga-link, #ttab { background-color: #4e664d;}

.pane-image {
    height: 130px;
    width: 130px;
    border: 2px solid #2A363b;
    border-radius: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}

/************************** end summary related stuff ***************/