body {
    background-color: #edeade;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px
}
a {
    color:#b4252d;
    font-weight: bolder;
    text-decoration: underline solid currentColor 2px;
}

a:hover {
    color:#b4252d;
    font-weight: bolder;
    text-decoration: underline solid currentColor 2px;
}

.btn-primary {
    background-color: #b4252d;
    border-color: #a51d24;
}
.btn-primary:hover {
    background-color: #801319;
    border-color: #a51d24;
}
.btn-primary:focus{
    background-color: #b4252d;
    border-color: #a51d24;
}