.container {
    display: flex;
    position: relative;
}

.col-sm {
    margin: 10px;
    padding: 20px;
    display: flex;
    text-align: center;
}

.close {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    position: absolute;
    right: 20px; /* might change this */
}

.dropdown-toggle {
    margin-left: auto;
}

.dropdown-item {
    width: fit-content;
}

.textarea {
    text-align: left;
}

.btn-primary {
    position: absolute;
    align-self: center;
    right: 20px;
}

h3 {
    padding-right: 930px;
}

h4 {
    position: absolute;
    left: 280px;
}

h5 {
    position:absolute;
    right: 10px;
}

.price {
    margin-bottom: 5px;
}

.addOns {
    margin-bottom: 10px;
}

.required {
  margin-bottom: 10px;
}

.textarea {
    margin-bottom: 10px;
}

#info {
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
}

h6 {
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
}

/* + - code */
.mt-5 {
    align-self: center;
}

.qty .count {
    color: #000;
    text-align: center;
    align-content: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: #b4252d;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;

    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: #b4252d;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
/* + - code ends */
