.container {
    position: relative;
}
  
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}