.container {
    position: relative;
    z-index: 3;
}
  
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 100%;
    margin: auto;

}

#myCarousel {
    height: 94vh;
    display: flex;

}