.topleft{
    display: flex;
    padding-left: 400px;
    top: 5px;
    font-size: 18px;
}

.container {
    display: flex;
    position: relative;
}

.col-sm {
    margin: 10px;
    padding: 10px;
    display: flex;
    text-align: center;
}

.close {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    position: absolute;
    right: 20px;
}

.btn-primary {
    position: absolute;
    align-self: center;
    right: 20px;
}

#charCustom {
    align-self: center;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

.price {
    margin-bottom: 5px;
}

#picChar {
    height: 200px;
    width: 200px;
}

#picMalt {
    height: 200px;
    width: 250px;
}